# Welcome to Serverless!

# Happy Coding!

service: moovies

frameworkVersion: "3"

useDotenv: true

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: us-east-2

functions:
  search:
    handler: handler.search

plugins:
  - serverless-alexa-skills

custom:
  alexa:
    skills:
      - id:   
        manifest:
          apis:
            custom: 
              endpoint:
                uri: ${env:AWS_LAMBDA_ARN}
          publishingInformation:
            locales:
              pt-BR:
                name: moovies
          manifestVersion: '1.0'
        models:
          pt-BR:
            interactionModel:
              languageModel:
                invocationName: oráculo da t. v.
                intents: 
                  - name: AMAZON.CancelIntent
                    samples: []
                  - name: AMAZON.HelpIntent
                    samples: []
                  - name: AMAZON.StopIntent
                    samples: 
                      - 'fechar oráculo da tv'
                      - 'fechar Moovies'
                      - 'fechar'
                      - 'adeus'
                  - name: OndeAssistoIntent
                    slots:
                      - name: serie
                        type: AMAZON.TVSeries
                      - name: filme
                        type: AMAZON.Movie
                    samples:
                      - 'Onde assisto a série {serie}'
                      - 'Onde assisto o filme {filme}'
                      - '{filme}'
                      - '{serie}'
